main{
    --padd-main:1rem;
    padding-left:var(--padd-main);
    padding-right:var(--padd-main);
    padding-bottom: 20%;
}

.grid-produse{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:1rem;
}
.grid-produse .produs{
    border-radius: 2rem;
    overflow: hidden;
    margin: 5%;
    background-color: var(--color3);
}

.grid-produse .produs h3{
    /* background-color: var(--color3); */
    text-align: center;
    margin-top: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: large;
    padding: 5%;
    padding-bottom: none;
    text-align: right;
}

.grid-produse .produs h3 a{
    color:var(--light-text-color);
    font-weight: normal !important;
}
.grid-produse .produs h3 a:hover{
    color:var(--light-text-color);
}
.grid-produse .produs figure{
    text-align: center;
}
.grid-produse .produs figure img{
    border:1px solid grey;
    
    box-shadow: 0px 0px 0.8rem 0.3rem grey;
}
.grid-produse .produs .info-prod{
    display:flex;
    background-color: var(--light-background-body);
    border: 1px solid var(--color3);
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-collapse: separate;
    border-right: none;
    padding: 3%;
    font-size: smaller;
}
.grid-produse .produs .info-prod p{
    width:30%;
    /* text-align:center; */
    font-weight:bold;
}

.grid-produse .produs p.categorie{

    text-align:center;
    font-weight:bold;
}

.info-produse{
    background-color: var(--color3);
    padding:0.2rem;
    box-shadow: 0px 0px 0.5rem 0.15rem grey;
}

.produs{
    position: relative;
}
.selecteaza-cos{
    display: inline-block;
    background-color: var(--color3);
    position:absolute;
    bottom:0.5rem;
    right:0.5rem;
    border-radius: 0.5rem;
    text-align: center;
    padding:0.3rem;
    border:1px solid transparent;
}

.selecteaza-cos:hover{
    background-color: var(--color3);
    border:1px solid var(--color3);
}
.info-prod{
    float: right;
}
.val-price{
    font-weight: normal;
}
.val-author{
    font-weight: normal;
}

.spatiuproduse{
    width: 10%;
}

.filtre{
    float: left;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 10%;
}

.butonfiltru{
    background-color: var(--light-text-color);
    color: var(--light-background-body);
    border: 1px solid var(--light-text-color);
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-collapse: separate;
    margin: 3%;
    padding: 2%;
}

@media screen and (max-width:1000px){
    .grid-produse{
        display: block;
    }
    .grid-produse .produs .info-prod{
        background-color: var(--color3);
        border: none;
    }
    .info-prod{
        float:none;
    }
    .grid-produse .produs h3{
        text-align: center;
    }
    .grid-produse .produs .info-prod{
        display:flex;
        background-color: antiquewhite;
        padding: 5%;
        border: 0;
        border-radius: 0;
    }
    .filtre{
        float:none;
        position: relative;
    }
  }