<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../fragmente/head.ejs")%>
        <title>Never Ending Footsteps</title>
        <meta name = "keywords" content = "hostel, flight, vacantion, trip, travel, blog, personal blog, 
        plane tickets, travel agency, travel tips, airlines, fare, cheap fare,
        destination, blog, solo travel, vaca tion packages, budget travel">
        <meta name = "description" content = "This travel blog is an online 
        travel guide completed with travel stories, tips and photographs. 
        Check out our online store for the best maps and travel guiding books!">
    </head>
    <body>
        <%- include("../fragmente/header.ejs")%>
        <main>
            <h2>Eroare 404 oh well</h2>
        </main>
        <%- include("../fragmente/footer.ejs")%>
    </body>
</html>