<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../fragmente/head.ejs")%>
        <title>Never Ending Footsteps</title>
        <meta name = "keywords" content = "hostel, flight, vacantion, trip, travel, blog, personal blog, 
        plane tickets, travel agency, travel tips, airlines, fare, cheap fare,
        destination, blog, solo travel, vaca tion packages, budget travel">
        <meta name = "description" content = "This travel blog is an online 
        travel guide completed with travel stories, tips and photographs. 
        Check out our online store for the best maps and travel guiding books!">
        <link rel="stylesheet" href="/resurse/CSS/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Google Font Link for Icons -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
        <script src="/resurse/js/script.js" defer></script>
    </head>
    <body>
        <%- include("../fragmente/header.ejs")%>
        <main>
            <div id="grid-pagina">
                
                <section id = "about">
                    <section id="meettheauthor">
                        <div class="sectionauthor">
                            <img src="resurse/images/meettheauthor.png" alt="Meet the Author" title="Meet the Author"/>
                        <div class="text">
                            <h3>Meet the Author</h3>
                        <p>Hi! I'm Marina and I like to call myself a Lifelong Learner. 
                            My story could have started with "once upon a time" because I have lived my first years of life in an era before internet, computers and mobile phones. 
                            Can you imagine that? Even for me now, looking back, it seems like an old movie watched somewhere and not my reality.</p>
                        <p>Two years ago I have received this message: <em><q>Dream your own dreams, my darling!</q></em>. 
                            I realised that my dreams are not the same anymore and I had no clue which are the new ones.
                            It was clear to me that I have to take some time off, get in touch with myself and learn how to dream again. 
                            And this is what I am continuously doing since that moment.</p>
                        <!-- <p>Few years ago, Oprah said in a speech, quoting from the book <em><q>The Seat of the Soul</q></em> written by Gary Zukav: <em><q>Authentic power is when your personality comes to serve the energy of your soul. 
                            When you are able to align who you are, who you become in the world with what you come to do in the world.</q></em>. 
                            This is a very powerful statement and major questions are contained: <em>Who are you?</em>, <em>What is your purpose?</em>
                            and most important <em>Is your purpose from yesterday the same as today?</em>. 
                            Very profound questions which once answered will make our life focused, easier and happier. 
                            I am here to hold your hand in this journey of re-discovering how to dream, finding who we are and what is our call in this world.</p> -->
                            <a class="linkuri" href="/portfolio">Check out Portfolio! <i class="fa-solid fa-arrow-right"></i></a>
                        </div>
                        </div>
                    </section>
                    <section id="thegoalofthistravelblog">
                        <div class="sectiongoalofblog">
                            <img src="resurse/images/thegoalofthistravelblog.png" alt="The Goal of this Travel Blog" title="The Goal of this Travel Blog"/>
                        <div class="text">
                            <h3>The Goal of this Travel Blog</h3>
                        <p>This is your new place for self-discovery, inner growth and learning how to give yourself permission to <em>Live like You</em>. 
                            Here is where I want to share my journey through this place we call home: the earth. 
                            I have managed to find myself through travelling and I would like to help you achieve that as well. <a target="_blank" href="resurse/images/businesscard.png" download="Never Ending Footsteps">Here is a virtual business card! Click to download!</a>
                            This blog contains a little share of my experience with travelling, alongside practical tips and information on how to make your travelling experience easier.
                        There is also a shop section where you can purchase some of my maps collections and travel guide books I wrote.</p><a class="linkuri" href="/produse">Check out Shop! <i class="fa-solid fa-arrow-right"></i></a>
                        
                        </div>
                        </div>
                    </section>
                </section>
                <section id="portraitsofindia">
                    <h2>Portraits of India</h2>
                    <!--<figure><picture><source srcset="resurse/images/pozemici/portraitsofindia.png" media="(max-width: 700px)"/><source srcset="resurse/images/pozemedii/portraitsofindia.png" media="(max-width: 1200px)"><img src="resurse/images/portraitsofindia.png" alt="Portraits of India" title="Portraits of India"/></picture><figcaption>Varkala Beach, India</figcaption></figure>-->
                    <p>Dear friends, do you remember the times of our childhood when playing was our main task of the day? 
                        This joy of being playful and not taking ourselves so seriously every single moment is something which people of India reminded me...
                        <strong>Awaken that free child inside of you, my dear friend!</strong> It’s on my list as well.
                        The type of photography which is closest to my heart i would describe it as genuine photography. 
                        Capturing genuine moments and authentic emotions and feelings. And I consider a job well done when people watching my photograph 
                        can feel the same emotion I’ve felt in the moment I shoot that scene.
                    </p>
                    <figure><picture><source srcset="resurse/images/pozemici/portraitsofindia.png" media="(max-width: 700px)"/><source srcset="resurse/images/pozemedii/portraitsofindia.png" media="(max-width: 1200px)"><img src="resurse/images/portraitsofindia.png" alt="Portraits of India" title="Portraits of India"/></picture><figcaption>Varkala Beach, India</figcaption></figure>
                </section>
                <section id="hundertwasserexperience">
                    <h2>Hundertwasser Experience</h2>
                    <!--<figure><picture><source srcset="resurse/images/pozemici/hundertwasserexperience.png" media="(max-width: 700px)"/><source srcset="resurse/images/pozemedii/hundertwasserexperience.png" media="(max-width: 1200px)"><img src="resurse/images/hundertwasserexperience.png" alt="Hundertwasser Experience" title="Hundertwasser Experience"/></picture><figcaption>Hundertwasser Experience, Leipzig</figcaption></figure>-->
                    <p>Hello again my dear friend! Yesterday I had the great pleasure to visit for the first time an immersive art show at Leipzig. 
                        The Hundertwasser experience takes you into the world of the Austrian painter, designer and architect Friedensreich Hundertwasser (1928-2000) 
                        with an explosion of colors and overwhelming sound. Animated with the most modern software and acoustically accompanied by the music of Luca 
                        Longobardi, a skilful multimedia show was created in which space and work merge. The result is projected onto the floor and walls of the large 
                        hall of the Kunstkraftwerk, creating a dynamic fresco of shapes and colors. The visitors do not stand in front of the works as in a museum, but 
                        rather stroll through the virtual Hundertwasser landscapes as protagonists, so to speak.</p>
                    <p><em>Like in any domain, it is always good to let yourself inspired by the masters...immerse yourself in their knowledge and experience and 
                        merge it with your own taste.</em></p>
                        <figure><picture><source srcset="resurse/images/pozemici/hundertwasserexperience.png" media="(max-width: 700px)"/><source srcset="resurse/images/pozemedii/hundertwasserexperience.png" media="(max-width: 1200px)"><img src="resurse/images/hundertwasserexperience.png" alt="Hundertwasser Experience" title="Hundertwasser Experience"/></picture><figcaption>Hundertwasser Experience, Leipzig</figcaption></figure>
                </section>
                <section id="southwesterndesertofjordan">
                    <h2>Southwestern Desert of Jordan</h2>
                    <!--<figure><picture><source srcset="resurse/images/pozemici/southwesterndesertofjordan.png" media="(max-width: 700px)"/><source srcset="resurse/images/pozemedii/southwesterndesertofjordan.png" media="(max-width: 1200px)"><img src="resurse/images/southwesterndesertofjordan.png" alt="Southwestern Desert of Jordan" title="Southwestern Desert of Jordan"/></picture><figcaption>The Petra Great Temple, Jordan</figcaption></figure>-->
                    <p>Probably one of my most beloved trips is when i had the oportunity to visit the Great Temple in Petra, Jordania. 
                        Petra is an ancient city with massive tombs and  temples carved directly into pink sandstone cliffs. 
                        <strong>This place is considered one of the Seven Wonders of the World.</strong> 
                        If you want to avoid the crowds, the best time to visit Jordan is in the off season. Bring water, snacks and cash. 
                        Another important thing to remember is to wear sunscreen and bring good walking shoes!</p>
                        <figure><picture><source srcset="resurse/images/pozemici/southwesterndesertofjordan.png" media="(max-width: 700px)"/><source srcset="resurse/images/pozemedii/southwesterndesertofjordan.png" media="(max-width: 1200px)"><img src="resurse/images/southwesterndesertofjordan.png" alt="Southwestern Desert of Jordan" title="Southwestern Desert of Jordan"/></picture><figcaption>The Petra Great Temple, Jordan</figcaption></figure>
                </section>
                <section id="cinematictravel">
                    <h2>CINEMATIC TRAVEL</h2>
                    <div class="flex-container">
                        <iframe name="ifr-video" width="560" height="315" src="https://www.youtube.com/embed/35npVaFGHMY" title="YouTube video player" style="border:0;" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <div class="a-container">
                            <a target="ifr-video" href="https://www.youtube.com/embed/35npVaFGHMY">India</a>
                            <a target="ifr-video" href="https://www.youtube.com/embed/vYE0tZs_AQY">Art Gallery</a>
                            <a target="ifr-video" href="https://www.youtube.com/embed/WP6ji1paiik">Jordan</a>
                        </div>
                    </div>
                </section>
                <section id="resources">
                    <h2>RESOURCES</h2>
                    <section id="getaccomodation">
                        <h3>Get Accomodation</h3>
                        <ol>
                            <li>
                                <p><a href="http://booking.com" target="_blank">Booking.com</a>
                                    - probably one of the most well-known booking websites
                                    with the widest selection of budget accommodation in the world </p>
                            </li>
                            <li>
                                <p><a href="http://hostelworld.com" target="_blank">Hostelworld</a>
                                    - the best hostel-accommodation site out there, with the largest inventory,
                                    best search interface, and highest availability</p>
                            </li>
                            <li>
                                <p><a href="http://trustedhousesitters.com" target="_blank">Trusted Housesitters</a>
                                    - a platform that connects you with people in need of pet and house sitters;
                                    in exchange for looking after their pets or home,
                                    you’ll get access to free accommodation</p>
                            </li>
                        </ol>
                    </section>
                    <section id="transportation">
                        <h3>Transportation</h3>
                        <ol>
                            <li>
                                <p><a href="http://skyscanner.com" target="_blank">Skyscanner</a>
                                    - flight searching engine that can find you the best deals and also
                                    has a calendar that shows you which days are cheapest to fly</p>
                            </li>
                            <li>
                                <p><a href="http://seat61.com" target="_blank">The Man in Seat 61</a>
                                    - the ultimate guide to train travel anywhere in the world;
                                    it has the most comprehensive information on routes, times, prices, and train conditions</p>
                            </li>
                            <li>
                                <p><a href="http://blablacar.co.uk" target="_blank">Blablacar</a>
                                    - lets you share rides with vetted local drivers in exchange
                                    for pitching in for gas</p>
                            </li>
                        </ol>
                    </section>
                    <section id="tourcompanies">
                        <h3>Tour Companies</h3>
                        <ol>
                            <li>
                                <p><a href="http://takewalks.com" target="_blank">Walks</a>
                                    - offers in-depth history, food, and cultural tours in cities
                                    around the world (especially Europe)</p>
                            </li>
                            <li>
                                <p><a href="http://intrepidtravel.com" target="_blank">Intrepid Travel</a>
                                    - the go-to company for small-group tours, as it uses expert guides
                                    and focuses on leaving a small environmental footprint</p>
                            </li>
                            <li>
                                <p><a href="http://getyourguide.com" target="_blank">Get Your Guide</a>
                                    - a huge online marketplace for tours and excursions</p>
                            </li>
                        </ol>
                    </section>
                    <div class="video">
                        <video id="video1" width="320" height="240" playsinline controls autoplay loop muted>
                            <source src="resurse/video/videomp4.mp4" type="video/mp4">
                            <source src="resurse/video/videoogv.ogv" type="video/ogv">
                            <track default src="resurse/video/tracks/mesaje_en.vtt" kind="captions" srclang="en" label="english" />
                            <track  src="resurse/video/tracks/mesaje_ro.vtt" kind="captions" srclang="ro" label="romanian" />
                            Your browser does not support the video tag.
                        </video>
                    </div>
                </section>

                <section id="calendar">
                    <!-- <h2>Upcoming Events</h2>
                    <p>Ip: <%-  locals.ip%> </p> -->

                    
                 
                    <div class="wrapper">
                      <header>
                        <p class="current-date"></p>
                        <div class="icons">
                          <span id="prev" class="material-symbols-rounded">chevron_left</span>
                          <span id="next" class="material-symbols-rounded">chevron_right</span>
                        </div>
                      </header>
                      <div class="calendar">
                        <ul class="weeks">
                          <li>Sun</li>
                          <li>Mon</li>
                          <li>Tue</li>
                          <li>Wed</li>
                          <li>Thu</li>
                          <li>Fri</li>
                          <li>Sat</li>
                        </ul>
                        <ul class="days"></ul>
                      </div>
                    </div>
                    <!-- <h2 style="padding-top: 5%;">Upcoming events will be posted here !</h2> -->

                </section>
                <section id="galerie-animata" class="galerie-a">
                    <!-- <div class="containergalerieanimata">
                        <figure>
                            <img src="resurse/images/galerieanimata/ga1.png" alt="poza">
                            <figcaption>Hot air ballons</figcaption>
                        </figure>
                        <figure>
                            <img src="resurse/images/galerieanimata/ga2.png" alt="poza">
                            <figcaption>Waterfalls</figcaption>
                        </figure>
                        <figure>
                            <img src="resurse/images/galerieanimata/ga3.png" alt="poza">
                            <figcaption>Krün, BY, Germany</figcaption>
                        </figure>
                        <figure>
                            <img src="resurse/images/galerieanimata/ga4.png" alt="poza">
                            <figcaption>Orange Lighthouse</figcaption>
                        </figure>
                        <figure>
                            <img src="resurse/images/galerieanimata/ga5.png" alt="poza">
                            <figcaption>In front of a Temple</figcaption>
                        </figure>
                        <figure>
                            <img src="resurse/images/galerieanimata/ga6.png" alt="poza">
                            <figcaption>Buddha Statue Figurines</figcaption>
                        </figure>
                        <figure>
                            <img src="resurse/images/galerieanimata/ga7.png" alt="poza">
                            <figcaption>Buddha Statue Outside a Temple</figcaption>
                        </figure>
                    </div> -->
                </section>

                <section id="maps">
                    <h2><a href="/produse?tip=map" style="font-weight: normal;">Maps</a></h2>
                </section>
                <section id="travelbooks">
                    <h2><a href="/produse?tip=book" style="font-weight: normal;">Books</a></h2>
                </section>
                <section id="faq">
                    <h2>FAQs</h2>
                    <details>
                        <summary>Do you ship internationally?</summary>
                        <p>Yes! We ship anywhere in the world.</p>
                    </details>
                    <details>
                        <summary>What payment methods do you accept?</summary>
                        <p>We accept credit or debit cards and cash on delivery.</p>
                    </details>
                    <details>
                        <summary>Do you offer loyalty points or reward points, gift certificates, etc.?</summary>
                        <p>Unfortunately we do not offer loyalty points or reaward points, gift certificates, etc. at the moment.</p>
                    </details>
                    <details>
                        <summary>Where are your packages shipped from?</summary>
                        <p>Our products are shipped from our warehouse located in Bucharest, Romania.</p>
                    </details>
                    <details>
                        <summary>What is your return policy?</summary>
                        <p>If you are not satisfied with your order, you have 14 calendar days to send the item back. Only items that have been purchased
                            directly from us can be returned. The shipping costs will be the responsability of the customer in cases of buyer's remorse returns.
                            We will refund the cost of the order and shipment if the return is the result of our errors or defective product</p>
                    </details>
                    <p>For more information please contact our customer service number: <a href="tel:+40(745)552621">+40(745)552621</a><br></p>
                </section>
            </div>
        </main>
        <%- include("../fragmente/footer.ejs")%>
    </body>
</html>