<footer>
    <address>
        <a href="tel:+40(745)552621"><i class="fa-solid fa-phone"></i> Phone</a><br><br>
        <a href="mailto:dramarina@gmail.com"><i class="fa-solid fa-envelope"></i> Email</a><br><br>
        <a href="https://goo.gl/maps/eYaWgGd9B56avAoj7" target="_blank"><i class="fa-solid fa-location-dot"></i> Academiei 14 Street, Bucharest 010014</a><br><br>
        <a href="skype:dramarina?chat"><i class="fa-brands fa-skype"></i> Start Chat on Skype</a><br><br>
    </address>
    <!-- <p><a href="#">Click here to go to the top of the page</a></p> -->
    
    <p><small>&copy; <time datetime="2022-10-27">2022</time> neverendingfootsteps</small></p>
</footer>
<button class="back-to-top" title="Back to Top"><a href="#"><i class="fa-solid fa-plane-up"></i></a></button>